In [1]:
import findspark
findspark.init()

In [2]:
import pyspark

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName("day1_practice").getOrCreate()

In [5]:
spark

In [6]:
import pandas as pd

In [7]:
df = pd.read_excel(r"C:\Users\moham\Downloads\Customer Call List.xlsx", sheet_name="Call List")

In [8]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [9]:
# df.to_csv("D:\Jupyter_notebook\Pyspark_works\Datasets\Customer_Call_List.csv", index=False)

In [10]:
df = spark.read.csv("D:\Jupyter_notebook\Pyspark_works\Datasets\Customer_Call_List.csv", header=True, inferSchema=True)

In [11]:
df.show(25)

+----------+----------+-----------+------------+--------------------+---------------+--------------+-----------------+
|CustomerID|First_Name|  Last_Name|Phone_Number|             Address|Paying Customer|Do_Not_Contact|Not_Useful_Column|
+----------+----------+-----------+------------+--------------------+---------------+--------------+-----------------+
|      1001|     Frodo|    Baggins|123-545-5421|123 Shire Lane, S...|            Yes|            No|             true|
|      1002|      Abed|      Nadir|123/643/9775| 93 West Main Street|             No|           Yes|            false|
|      1003|    Walter|     /White|  7066950392|  298 Drugs Driveway|              N|          NULL|             true|
|      1004|    Dwight|    Schrute|123-543-2345|980 Paper Avenue,...|            Yes|             Y|             true|
|      1005|       Jon|       Snow|876|678|3469|    123 Dragons Road|              Y|            No|             true|
|      1006|       Ron|    Swanson|304-762-2467|    768 City Parkway|            Yes|           Yes|             true|
|      1007|      Jeff|     Winger|        NULL|   1209 South Street|             No|            No|            false|
|      1008|  Sherlock|     Holmes|876|678|3469|       98 Clue Drive|              N|            No|            false|
|      1009|   Gandalf|       NULL|         N/a|    123 Middle Earth|            Yes|          NULL|            false|
|      1010|     Peter|     Parker|123-545-5421|25th Main Street,...|            Yes|            No|             true|
|      1011|   Samwise|     Gamgee|        NULL|612 Shire Lane, S...|            Yes|            No|             true|
|      1012|     Harry|  ...Potter|  7066950392|2394 Hogwarts Avenue|              Y|          NULL|             true|
|      1013|       Don|     Draper|123-543-2345|    2039 Main Street|            Yes|             N|            false|
|      1014|    Leslie|      Knope|876|678|3469|    343 City Parkway|            Yes|            No|            false|
|      1015|      Toby|Flenderson_|304-762-2467|       214 HR Avenue|              N|            No|            false|
|      1016|       Ron|    Weasley|123-545-5421|2395 Hogwarts Avenue|             No|             N|            false|
|      1017|  Michael |      Scott|123/643/9775|121 Paper Avenue,...|            Yes|            No|            false|
|      1018|     Clark|       Kent|  7066950392|     3498 Super Lane|              Y|          NULL|             true|
|      1019|     Creed|     Braton|         N/a|                 N/a|            N/a|           Yes|             true|
|      1020|    Anakin|  Skywalker|876|678|3469|910 Tatooine Road...|            Yes|             N|             true|
|      1020|    Anakin|  Skywalker|876|678|3469|910 Tatooine Road...|            Yes|             N|             true|
+----------+----------+-----------+------------+--------------------+---------------+--------------+-----------------+

In [12]:
df = df.dropDuplicates()

In [13]:
df.count()

20

In [14]:
df.show(25)

+----------+----------+-----------+------------+--------------------+---------------+--------------+-----------------+
|CustomerID|First_Name|  Last_Name|Phone_Number|             Address|Paying Customer|Do_Not_Contact|Not_Useful_Column|
+----------+----------+-----------+------------+--------------------+---------------+--------------+-----------------+
|      1016|       Ron|    Weasley|123-545-5421|2395 Hogwarts Avenue|             No|             N|            false|
|      1001|     Frodo|    Baggins|123-545-5421|123 Shire Lane, S...|            Yes|            No|             true|
|      1002|      Abed|      Nadir|123/643/9775| 93 West Main Street|             No|           Yes|            false|
|      1019|     Creed|     Braton|         N/a|                 N/a|            N/a|           Yes|             true|
|      1013|       Don|     Draper|123-543-2345|    2039 Main Street|            Yes|             N|            false|
|      1004|    Dwight|    Schrute|123-543-2345|980 Paper Avenue,...|            Yes|             Y|             true|
|      1006|       Ron|    Swanson|304-762-2467|    768 City Parkway|            Yes|           Yes|             true|
|      1020|    Anakin|  Skywalker|876|678|3469|910 Tatooine Road...|            Yes|             N|             true|
|      1010|     Peter|     Parker|123-545-5421|25th Main Street,...|            Yes|            No|             true|
|      1015|      Toby|Flenderson_|304-762-2467|       214 HR Avenue|              N|            No|            false|
|      1005|       Jon|       Snow|876|678|3469|    123 Dragons Road|              Y|            No|             true|
|      1017|  Michael |      Scott|123/643/9775|121 Paper Avenue,...|            Yes|            No|            false|
|      1008|  Sherlock|     Holmes|876|678|3469|       98 Clue Drive|              N|            No|            false|
|      1014|    Leslie|      Knope|876|678|3469|    343 City Parkway|            Yes|            No|            false|
|      1012|     Harry|  ...Potter|  7066950392|2394 Hogwarts Avenue|              Y|          NULL|             true|
|      1007|      Jeff|     Winger|        NULL|   1209 South Street|             No|            No|            false|
|      1003|    Walter|     /White|  7066950392|  298 Drugs Driveway|              N|          NULL|             true|
|      1011|   Samwise|     Gamgee|        NULL|612 Shire Lane, S...|            Yes|            No|             true|
|      1018|     Clark|       Kent|  7066950392|     3498 Super Lane|              Y|          NULL|             true|
|      1009|   Gandalf|       NULL|         N/a|    123 Middle Earth|            Yes|          NULL|            false|
+----------+----------+-----------+------------+--------------------+---------------+--------------+-----------------+

In [15]:
from pyspark.sql.functions import col

In [16]:
df = df.select([col(c).alias(c.replace(' ', '_')) for c in df.columns])

In [17]:
df.show(25)

+----------+----------+-----------+------------+--------------------+---------------+--------------+-----------------+
|CustomerID|First_Name|  Last_Name|Phone_Number|             Address|Paying_Customer|Do_Not_Contact|Not_Useful_Column|
+----------+----------+-----------+------------+--------------------+---------------+--------------+-----------------+
|      1016|       Ron|    Weasley|123-545-5421|2395 Hogwarts Avenue|             No|             N|            false|
|      1001|     Frodo|    Baggins|123-545-5421|123 Shire Lane, S...|            Yes|            No|             true|
|      1002|      Abed|      Nadir|123/643/9775| 93 West Main Street|             No|           Yes|            false|
|      1019|     Creed|     Braton|         N/a|                 N/a|            N/a|           Yes|             true|
|      1013|       Don|     Draper|123-543-2345|    2039 Main Street|            Yes|             N|            false|
|      1004|    Dwight|    Schrute|123-543-2345|980 Paper Avenue,...|            Yes|             Y|             true|
|      1006|       Ron|    Swanson|304-762-2467|    768 City Parkway|            Yes|           Yes|             true|
|      1020|    Anakin|  Skywalker|876|678|3469|910 Tatooine Road...|            Yes|             N|             true|
|      1010|     Peter|     Parker|123-545-5421|25th Main Street,...|            Yes|            No|             true|
|      1015|      Toby|Flenderson_|304-762-2467|       214 HR Avenue|              N|            No|            false|
|      1005|       Jon|       Snow|876|678|3469|    123 Dragons Road|              Y|            No|             true|
|      1017|  Michael |      Scott|123/643/9775|121 Paper Avenue,...|            Yes|            No|            false|
|      1008|  Sherlock|     Holmes|876|678|3469|       98 Clue Drive|              N|            No|            false|
|      1014|    Leslie|      Knope|876|678|3469|    343 City Parkway|            Yes|            No|            false|
|      1012|     Harry|  ...Potter|  7066950392|2394 Hogwarts Avenue|              Y|          NULL|             true|
|      1007|      Jeff|     Winger|        NULL|   1209 South Street|             No|            No|            false|
|      1003|    Walter|     /White|  7066950392|  298 Drugs Driveway|              N|          NULL|             true|
|      1011|   Samwise|     Gamgee|        NULL|612 Shire Lane, S...|            Yes|            No|             true|
|      1018|     Clark|       Kent|  7066950392|     3498 Super Lane|              Y|          NULL|             true|
|      1009|   Gandalf|       NULL|         N/a|    123 Middle Earth|            Yes|          NULL|            false|
+----------+----------+-----------+------------+--------------------+---------------+--------------+-----------------+

In [18]:
from pyspark.sql.functions import col, regexp_replace

In [19]:
df = df.withColumn("Phone_Number", regexp_replace(col("Phone_Number"), "-", ""))
df = df.withColumn("Phone_Number", regexp_replace(col("Phone_Number"), "/", ""))

In [20]:
df = df.withColumn("Phone_Number", regexp_replace(col("Phone_Number"), "\\|", ""))

In [21]:
df.show(25)

+----------+----------+-----------+------------+--------------------+---------------+--------------+-----------------+
|CustomerID|First_Name|  Last_Name|Phone_Number|             Address|Paying_Customer|Do_Not_Contact|Not_Useful_Column|
+----------+----------+-----------+------------+--------------------+---------------+--------------+-----------------+
|      1016|       Ron|    Weasley|  1235455421|2395 Hogwarts Avenue|             No|             N|            false|
|      1001|     Frodo|    Baggins|  1235455421|123 Shire Lane, S...|            Yes|            No|             true|
|      1002|      Abed|      Nadir|  1236439775| 93 West Main Street|             No|           Yes|            false|
|      1019|     Creed|     Braton|          Na|                 N/a|            N/a|           Yes|             true|
|      1013|       Don|     Draper|  1235432345|    2039 Main Street|            Yes|             N|            false|
|      1004|    Dwight|    Schrute|  1235432345|980 Paper Avenue,...|            Yes|             Y|             true|
|      1006|       Ron|    Swanson|  3047622467|    768 City Parkway|            Yes|           Yes|             true|
|      1020|    Anakin|  Skywalker|  8766783469|910 Tatooine Road...|            Yes|             N|             true|
|      1010|     Peter|     Parker|  1235455421|25th Main Street,...|            Yes|            No|             true|
|      1015|      Toby|Flenderson_|  3047622467|       214 HR Avenue|              N|            No|            false|
|      1005|       Jon|       Snow|  8766783469|    123 Dragons Road|              Y|            No|             true|
|      1017|  Michael |      Scott|  1236439775|121 Paper Avenue,...|            Yes|            No|            false|
|      1008|  Sherlock|     Holmes|  8766783469|       98 Clue Drive|              N|            No|            false|
|      1014|    Leslie|      Knope|  8766783469|    343 City Parkway|            Yes|            No|            false|
|      1012|     Harry|  ...Potter|  7066950392|2394 Hogwarts Avenue|              Y|          NULL|             true|
|      1007|      Jeff|     Winger|        NULL|   1209 South Street|             No|            No|            false|
|      1003|    Walter|     /White|  7066950392|  298 Drugs Driveway|              N|          NULL|             true|
|      1011|   Samwise|     Gamgee|        NULL|612 Shire Lane, S...|            Yes|            No|             true|
|      1018|     Clark|       Kent|  7066950392|     3498 Super Lane|              Y|          NULL|             true|
|      1009|   Gandalf|       NULL|          Na|    123 Middle Earth|            Yes|          NULL|            false|
+----------+----------+-----------+------------+--------------------+---------------+--------------+-----------------+

In [22]:
from pyspark.sql.functions import col, ltrim, rtrim,when

In [23]:
df = df.withColumn("Last_Name", regexp_replace(col("Last_Name"), "^\\.*", ""))

In [24]:
df = df.withColumn("Last_Name", regexp_replace(col("Last_Name"), "^\\-*", ""))
df = df.withColumn("Last_Name", regexp_replace(col("Last_Name"), "^\\/*", ""))

In [25]:
df.show(25)

+----------+----------+-----------+------------+--------------------+---------------+--------------+-----------------+
|CustomerID|First_Name|  Last_Name|Phone_Number|             Address|Paying_Customer|Do_Not_Contact|Not_Useful_Column|
+----------+----------+-----------+------------+--------------------+---------------+--------------+-----------------+
|      1016|       Ron|    Weasley|  1235455421|2395 Hogwarts Avenue|             No|             N|            false|
|      1001|     Frodo|    Baggins|  1235455421|123 Shire Lane, S...|            Yes|            No|             true|
|      1002|      Abed|      Nadir|  1236439775| 93 West Main Street|             No|           Yes|            false|
|      1019|     Creed|     Braton|          Na|                 N/a|            N/a|           Yes|             true|
|      1013|       Don|     Draper|  1235432345|    2039 Main Street|            Yes|             N|            false|
|      1004|    Dwight|    Schrute|  1235432345|980 Paper Avenue,...|            Yes|             Y|             true|
|      1006|       Ron|    Swanson|  3047622467|    768 City Parkway|            Yes|           Yes|             true|
|      1020|    Anakin|  Skywalker|  8766783469|910 Tatooine Road...|            Yes|             N|             true|
|      1010|     Peter|     Parker|  1235455421|25th Main Street,...|            Yes|            No|             true|
|      1015|      Toby|Flenderson_|  3047622467|       214 HR Avenue|              N|            No|            false|
|      1005|       Jon|       Snow|  8766783469|    123 Dragons Road|              Y|            No|             true|
|      1017|  Michael |      Scott|  1236439775|121 Paper Avenue,...|            Yes|            No|            false|
|      1008|  Sherlock|     Holmes|  8766783469|       98 Clue Drive|              N|            No|            false|
|      1014|    Leslie|      Knope|  8766783469|    343 City Parkway|            Yes|            No|            false|
|      1012|     Harry|     Potter|  7066950392|2394 Hogwarts Avenue|              Y|          NULL|             true|
|      1007|      Jeff|     Winger|        NULL|   1209 South Street|             No|            No|            false|
|      1003|    Walter|      White|  7066950392|  298 Drugs Driveway|              N|          NULL|             true|
|      1011|   Samwise|     Gamgee|        NULL|612 Shire Lane, S...|            Yes|            No|             true|
|      1018|     Clark|       Kent|  7066950392|     3498 Super Lane|              Y|          NULL|             true|
|      1009|   Gandalf|       NULL|          Na|    123 Middle Earth|            Yes|          NULL|            false|
+----------+----------+-----------+------------+--------------------+---------------+--------------+-----------------+

In [26]:
df = df.withColumn("Paying_Customer", regexp_replace(col("Paying_Customer"), "N/a", ""))
df = df.withColumn("Address", regexp_replace(col("Address"), "N/a", ""))

In [27]:
df = df.withColumn("Phone_Number", regexp_replace(col("Phone_Number"), "Na", ""))

In [28]:
# df = df.withColumn("Phone_Number", regexp_replace(col("Phone_Number"), "NULL", ""))  -- this will not works for null values
df = df.dropna(subset=["Phone_Number"])

In [29]:
df = df.withColumn("Paying_Customer", when(col("Paying_Customer") == "Yes", "Y").otherwise(col("Paying_Customer")))
df = df.withColumn("Paying_Customer", when(col("Paying_Customer") == "No", "N").otherwise(col("Paying_Customer")))

In [30]:
df.show(25)

+----------+----------+-----------+------------+--------------------+---------------+--------------+-----------------+
|CustomerID|First_Name|  Last_Name|Phone_Number|             Address|Paying_Customer|Do_Not_Contact|Not_Useful_Column|
+----------+----------+-----------+------------+--------------------+---------------+--------------+-----------------+
|      1016|       Ron|    Weasley|  1235455421|2395 Hogwarts Avenue|              N|             N|            false|
|      1001|     Frodo|    Baggins|  1235455421|123 Shire Lane, S...|              Y|            No|             true|
|      1002|      Abed|      Nadir|  1236439775| 93 West Main Street|              N|           Yes|            false|
|      1019|     Creed|     Braton|            |                    |               |           Yes|             true|
|      1013|       Don|     Draper|  1235432345|    2039 Main Street|              Y|             N|            false|
|      1004|    Dwight|    Schrute|  1235432345|980 Paper Avenue,...|              Y|             Y|             true|
|      1006|       Ron|    Swanson|  3047622467|    768 City Parkway|              Y|           Yes|             true|
|      1020|    Anakin|  Skywalker|  8766783469|910 Tatooine Road...|              Y|             N|             true|
|      1010|     Peter|     Parker|  1235455421|25th Main Street,...|              Y|            No|             true|
|      1015|      Toby|Flenderson_|  3047622467|       214 HR Avenue|              N|            No|            false|
|      1005|       Jon|       Snow|  8766783469|    123 Dragons Road|              Y|            No|             true|
|      1017|  Michael |      Scott|  1236439775|121 Paper Avenue,...|              Y|            No|            false|
|      1008|  Sherlock|     Holmes|  8766783469|       98 Clue Drive|              N|            No|            false|
|      1014|    Leslie|      Knope|  8766783469|    343 City Parkway|              Y|            No|            false|
|      1012|     Harry|     Potter|  7066950392|2394 Hogwarts Avenue|              Y|          NULL|             true|
|      1003|    Walter|      White|  7066950392|  298 Drugs Driveway|              N|          NULL|             true|
|      1018|     Clark|       Kent|  7066950392|     3498 Super Lane|              Y|          NULL|             true|
|      1009|   Gandalf|       NULL|            |    123 Middle Earth|              Y|          NULL|            false|
+----------+----------+-----------+------------+--------------------+---------------+--------------+-----------------+

In [31]:
df = df.dropna(subset=["Do_Not_Contact"])

In [32]:


df = df.withColumn("Do_Not_Contact", when(col("Do_Not_Contact") == "Yes", "Y").otherwise(col("Paying_Customer")))
df = df.withColumn("Do_Not_Contact", when(col("Do_Not_Contact") == "No", "N").otherwise(col("Paying_Customer")))

In [33]:
df = df.drop("Not_Useful_Column")

In [34]:
df.show(25)

+----------+----------+-----------+------------+--------------------+---------------+--------------+
|CustomerID|First_Name|  Last_Name|Phone_Number|             Address|Paying_Customer|Do_Not_Contact|
+----------+----------+-----------+------------+--------------------+---------------+--------------+
|      1016|       Ron|    Weasley|  1235455421|2395 Hogwarts Avenue|              N|             N|
|      1001|     Frodo|    Baggins|  1235455421|123 Shire Lane, S...|              Y|             Y|
|      1002|      Abed|      Nadir|  1236439775| 93 West Main Street|              N|             N|
|      1019|     Creed|     Braton|            |                    |               |              |
|      1013|       Don|     Draper|  1235432345|    2039 Main Street|              Y|             Y|
|      1004|    Dwight|    Schrute|  1235432345|980 Paper Avenue,...|              Y|             Y|
|      1006|       Ron|    Swanson|  3047622467|    768 City Parkway|              Y|             Y|
|      1020|    Anakin|  Skywalker|  8766783469|910 Tatooine Road...|              Y|             Y|
|      1010|     Peter|     Parker|  1235455421|25th Main Street,...|              Y|             Y|
|      1015|      Toby|Flenderson_|  3047622467|       214 HR Avenue|              N|             N|
|      1005|       Jon|       Snow|  8766783469|    123 Dragons Road|              Y|             Y|
|      1017|  Michael |      Scott|  1236439775|121 Paper Avenue,...|              Y|             Y|
|      1008|  Sherlock|     Holmes|  8766783469|       98 Clue Drive|              N|             N|
|      1014|    Leslie|      Knope|  8766783469|    343 City Parkway|              Y|             Y|
+----------+----------+-----------+------------+--------------------+---------------+--------------+

In [35]:
# output_path = r"D:\Sales_tables_by_Lalit\union_table"

# # Coalesce the DataFrame into a single partition before saving as CSV
# df4.coalesce(1).write.format("csv").option("header", "true").mode("overwrite").save(output_path)

In [36]:
# Define the output path with double backslashes or a raw string
output_path = r"D:\Jupyter_notebook\Pyspark_works\Datasets\raihan"

# Coalesce the DataFrame into a single partition before saving as CSV
df.coalesce(1).write.format("csv").option("header", "true").mode("overwrite").save(output_path)

Py4JJavaError: An error occurred while calling o139.save.
: java.lang.UnsatisfiedLinkError: 'boolean org.apache.hadoop.io.nativeio.NativeIO$Windows.access0(java.lang.String, int)'
	at org.apache.hadoop.io.nativeio.NativeIO$Windows.access0(Native Method)
	at org.apache.hadoop.io.nativeio.NativeIO$Windows.access(NativeIO.java:793)
	at org.apache.hadoop.fs.FileUtil.canRead(FileUtil.java:1249)
	at org.apache.hadoop.fs.FileUtil.list(FileUtil.java:1454)
	at org.apache.hadoop.fs.RawLocalFileSystem.listStatus(RawLocalFileSystem.java:601)
	at org.apache.hadoop.fs.FileSystem.listStatus(FileSystem.java:1972)
	at org.apache.hadoop.fs.FileSystem.listStatus(FileSystem.java:2014)
	at org.apache.hadoop.fs.ChecksumFileSystem.listStatus(ChecksumFileSystem.java:761)
	at org.apache.hadoop.fs.FileSystem.listStatus(FileSystem.java:1972)
	at org.apache.hadoop.fs.FileSystem.listStatus(FileSystem.java:2014)
	at org.apache.hadoop.mapreduce.lib.output.FileOutputCommitter.getAllCommittedTaskPaths(FileOutputCommitter.java:334)
	at org.apache.hadoop.mapreduce.lib.output.FileOutputCommitter.commitJobInternal(FileOutputCommitter.java:404)
	at org.apache.hadoop.mapreduce.lib.output.FileOutputCommitter.commitJob(FileOutputCommitter.java:377)
	at org.apache.spark.internal.io.HadoopMapReduceCommitProtocol.commitJob(HadoopMapReduceCommitProtocol.scala:192)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.$anonfun$writeAndCommit$3(FileFormatWriter.scala:275)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at org.apache.spark.util.Utils$.timeTakenMs(Utils.scala:552)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.writeAndCommit(FileFormatWriter.scala:275)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.executeWrite(FileFormatWriter.scala:304)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.write(FileFormatWriter.scala:190)
	at org.apache.spark.sql.execution.datasources.InsertIntoHadoopFsRelationCommand.run(InsertIntoHadoopFsRelationCommand.scala:190)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.sideEffectResult$lzycompute(commands.scala:113)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.sideEffectResult(commands.scala:111)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.executeCollect(commands.scala:125)
	at org.apache.spark.sql.execution.adaptive.AdaptiveSparkPlanExec.$anonfun$executeCollect$1(AdaptiveSparkPlanExec.scala:374)
	at org.apache.spark.sql.execution.adaptive.AdaptiveSparkPlanExec.withFinalPlanUpdate(AdaptiveSparkPlanExec.scala:402)
	at org.apache.spark.sql.execution.adaptive.AdaptiveSparkPlanExec.executeCollect(AdaptiveSparkPlanExec.scala:374)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.$anonfun$applyOrElse$1(QueryExecution.scala:107)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$6(SQLExecution.scala:125)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:201)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:108)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:900)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:66)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:107)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:98)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$transformDownWithPruning$1(TreeNode.scala:461)
	at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(origin.scala:76)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDownWithPruning(TreeNode.scala:461)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.org$apache$spark$sql$catalyst$plans$logical$AnalysisHelper$$super$transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning(AnalysisHelper.scala:267)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning$(AnalysisHelper.scala:263)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDown(TreeNode.scala:437)
	at org.apache.spark.sql.execution.QueryExecution.eagerlyExecuteCommands(QueryExecution.scala:98)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted$lzycompute(QueryExecution.scala:85)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted(QueryExecution.scala:83)
	at org.apache.spark.sql.execution.QueryExecution.assertCommandExecuted(QueryExecution.scala:142)
	at org.apache.spark.sql.DataFrameWriter.runCommand(DataFrameWriter.scala:859)
	at org.apache.spark.sql.DataFrameWriter.saveToV1Source(DataFrameWriter.scala:388)
	at org.apache.spark.sql.DataFrameWriter.saveInternal(DataFrameWriter.scala:361)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:240)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:75)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:52)
	at java.base/java.lang.reflect.Method.invoke(Method.java:580)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:1583)

In [ ]:
filtered_df2 = df.filter(df['Phone_Number'] != '')
filtered_df2.show()

In [ ]:
filtered_df3 = df.filter(df['Do_Not_Contact'] != 'Y')
filtered_df3.show()